<div class="container-fluid py-4 px-4">
    <div class="row">
        <div class="col-4">
            <select name="select" class="form-control dropdown" [(ngModel)]="selectedCity">
                <option value=""selected>Seleccione la ciudad</option>
                <option *ngFor="let city of cities" [ngValue]="city.id">{{city.name}}</option>
              </select>
        </div>
        <div class="col-2">
            <div class="custom-control custom-checkbox pt-2">
                <input type="checkbox" class="custom-control-input" id="addHistorical" [(ngModel)]="addHistorical">
                <label class="custom-control-label" for="addHistorical">Incluir histórico</label>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="getActualWeatherMap()">Consultar</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <p *ngIf="actualWeatherMap != null">Ciudad: {{actualWeatherMap.city.name}}, {{actualWeatherMap.country.name}}</p>
            <p *ngIf="actualWeatherMap == null">Ciudad: Seleccione una ciudad y use el boton consultar</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p *ngIf="actualWeatherMap != null">Clima: {{actualWeatherMap.temperature}}° - Sensación Termica: {{actualWeatherMap.thermalSensation}}°</p>
            <p *ngIf="actualWeatherMap == null">Clima: Seleccione una ciudad y use el boton consultar</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">País</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Clima</th>
                    <th scope="col">Sensación Térmica</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let weather of historicalWeather">
                    <td>{{weather.country.name}}</td>
                    <td>{{weather.city.name}}</td>
                    <td>{{weather.temperature}}</td>
                    <td>{{weather.thermalSensation}}</td>
                  </tr>            
                </tbody>
              </table>
        </div>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showMessage">
      Selecciona una ciudad para consultar
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div id="overlay">
      <div class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="spinner-border" role="status" style="width:3rem; height:3rem;">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
    </div>
</div>